{% extends "email/base_user.html" %}
{% block content %}
<p>Hi,</p>

<p>We noticed someone just tried to sign up for a {{ organization_name }} account using your registered email address.</p>

<p>If you have not tried to sign up yourself:<br/>
You can login with this email address in the {{ organization_name }} app. In case you cannot remember your password you are able to reset it within the app.</p>

<p>If you have not tried to sign up yourself:<br/>
No action is required from your side, because we ignored this request for signing up.</p>

<p>Kind Regards,<br/>
The Noa Support Team</p>
{% endblock %}
