{% extends "admin/base.html" %}
{% load i18n %}
{% load admin_urls %}

{% block breadcrumbs_last %}
{% trans "Bulk Creation" %}
{% endblock %}

{% block content %}
{% if result %}
<h2> {{ result.message }}</h2>
{% else %}
<h1>{% trans "Bulk Creation" %}</h1>
<form action="" method="post" id="{{ opts.model_name }}_form" enctype="multipart/x-www-form-urlencoded">
{% csrf_token %}

<p>
    {% trans "Tell use how you want to create new locks." %}
    {% for f in fields  %}
    {% if forloop.counter0 %}
    ,
    {% endif %}
    <code>{{ f }}</code>
    {% endfor %}
</p>

<fieldset class="module aligned">
    {% for field in form %}
    <div class="form-row">
        {{ field.errors }}

        {{ field.label_tag }}

        {{ field }}

        {% if field.field.help_text %}
        <p class="help">{{ field.field.help_text|safe }}</p>
        {% endif %}
    </div>
    {% endfor %}
</fieldset>

<div class="submit-row">
    <input type="submit" class="default" value="{% trans "Submit" %}">
</div>
</form>

{% endif %}

{% endblock %}
